<div class="modal-header">
    <h3 class="modal-title">Additional Contracted Service</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <div class="form-group" show-errors>
            <label class="control-label required">Service Type</label>
            <select class="form-control" ng-model="input.serviceType" name="serviceType" ng-change="selectType()"
                    ng-options="p.value as p.label for p in serviceTypes"></select>
            <p class="help-block validation">Service Type is required</p>
        </div>
        <div class="form-group" show-errors ng-if="!serviceType || !serviceType.single">
            <input type="hidden" class="form-control" name="emptyAgency" ng-model="input.emptyAgency"/>
            <div class="checkbox checkbox-primary" ng-repeat="t in transitAgencies">
                <input type="checkbox" ng-model="input.transitAgencies[t.value]" value="{{t.value}}" id="t_{{$index}}" ng-click="checkTransitAgency(t.value)"><label for="t_{{$index}}">{{t.label}}</label>
            </div>
            <p class="help-block validation">Please select at least one Transit Agency</p>
        </div>
        <div class="form-group" ng-if="!serviceType || !serviceType.single">
            <label class="control-label">Subsidy</label>
            <input type="text" class="form-control" ng-model="input.subsidy"/>
        </div>
        <div class="form-group" ng-if="!serviceType || !serviceType.single">
            <label class="control-label">Additional Terms</label>
            <textarea ng-model="input.restrictions" class="form-control"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="submit()">Save</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
