html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    line-height: 1.4;
    font-family: Segoe UI, Tahoma, Helvetica, Arial, sans-serif;
    color: #333;
    background: #f0f1f2;
    -webkit-text-size-adjust: 100%;
}

.main {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 50px; /* Height of the footer element */
}
.mb-20 {
    margin-bottom: 20px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    height: auto !important;
}

.navbar-brand {
    min-height: 70px;
    height: auto;
    padding: 5px 10px;
}

.navbar-brand .logo {
    display: inline-block;
    padding-right: 6px;
}

.navbar-brand .logo-text {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 10px;
}

footer {
    width: 100%;
    /*height:50px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.control-label p {
    display: block;
    color: #666;
    margin: .1em 0 .25em 0;
    font-size: 0.9em;
    font-weight: normal;
}

.btn-action {
    color: #e8f0de !important;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.btn-action:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top, #6b9d28, #436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

.btn-action:active {
    color: #a9c08c !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

.full-width {
    width: 100%;
}

.control-label.required:after {
    content: url(../images/star.png);
}

.employer-container {
    margin: 0 auto;
    width: 681px;
    padding: 0;
    background-color: #f4f4f4;
}

.employer-header {
    margin: 0;
    padding: 0 0 12px 0;
    background-image: url(../images/header.jpeg);
    background-position: top left;
    background-repeat: no-repeat;
    width: 681px;
    height: 88px;
}
.employer-header h1 {
    display: block;
    padding-top: 35px;
    padding-left: 200px;
    font-size: 26px;
    font-weight: bolder;
    color: white;
}
.employer-container legend {
    background: #666;
    color: white;
    border-radius: 6px;
    padding: 6px 0 6px 12px;
}

.cif-container {
    margin: 0 auto;
    width: 681px;
    padding: 0;
    background-color: #f4f4f4;
}

.cif-container .header {
    margin: 0;
    padding: 0 0 12px 0;
    background-image: url(../images/cif-header.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    width: 674px;
    height: 168px;
}

.cif-container .panel-body {
    padding: 0;
}

.cif-container .form-group {
    margin-left: 0;
    margin-right: 0;
}

.cif-container .field {
    margin-left: 15px;
    margin-right: 15px;
}

.cif-container legend {
    text-align: center;
    background: #666;
    color: white;
    font-size: 18px;
    height: 40px;
    padding-top:8px;
}
.cif-container .sub-fieldset {
    margin-bottom: 20px;
}
.cif-container .sub-fieldset legend {
    padding-left: 30px;
    text-align: left;
    background: white;
    color: black;
}
.sub-fieldset {
    padding-left: 30px;
    margin-bottom: 20px;
}
.form-view .form-group {
    margin-bottom: 0;
}
.help-block .checkbox {
    padding-top: 2px;
}
.cif-container .state {
    margin-left: -15px;
}
.contact .state {
    margin-left: -15px;
}
.cif-container .zip {
    margin-left: -15px;
    margin-right:-15px;
}
.contact .zip {
    margin-left: -30px;
    margin-right: -30px;
}
.cif-container .btn-header {
    float: right;
    margin-top: -55px;
    margin-right: 15px;
}
.case-activities {
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
}
.case-activity .content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.form-control-static-inline {
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .navbar-brand .logo-text {
        display: inline-block;
        vertical-align: bottom;
        padding-bottom: 10px;
        font-size: 0.86em;
    }
    .cif-container .zip {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .cif-container .state {
        margin-left: 0!important;
    }
}
