<div class="panel panel-default">
    <div class="panel-body">
        <h1>{{ formTitle || 'Driver Comment' }}</h1>
        <div class="intro">
            <div ng-if="formHeader" ng-bind-html="formHeader"></div>
            <p ng-if="!formHeader">Use this form for questions, suggestions, commendations or complaints about a driver or operator.
                Your feedback is important to us. Please provide as much detail as possible so staff can research your concerns and
                ensure your feedback is handled appropriately.
            </p>
        </div>
        <div class="text-danger mb-20" aria-hidden="true">* Required Fields</div>

        <form name="form" novalidate="true" ng-submit="submit()">
            <div class="form-group" show-errors>
                <label class="control-label required" for="commentType">Type of comment</label>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <select id="commentType" name="commentType" class="form-control" ng-model="input.commentType"
                                ng-options="p.value as p.label for p in commentTypes" ng-required="true">
                            <option value="" selected="selected">Choose...</option>
                        </select>
                    </div>
                </div>
                <p class="help-block validation" role="alert">The type of comment is required.</p>
            </div>
            <div class="form-group" show-errors="true">
                <label class="control-label required" for="name">Your Name</label>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="name" name="name" class="form-control" ng-model="input.name" ng-required="true"/>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Your name is required.</p>
            </div>
            <div class="form-group" show-errors="true">
                <label class="control-label required" for="email">Email</label>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="email" id="email" name="email" class="form-control" ng-model="input.email" placeholder="name@domain.com" ng-required="true"/>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Your email is required.</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">Phone Number</label>
                <p id="phone-help">Please include the area code.</p>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="phone" id="phone" name="phone" class="form-control" ng-model="input.phone" aria-describedby="phone-help"/>
                    </div>
                </div>
            </div>
            <div class="form-group" show-errors="true">
                <label class="control-label required" for="contactPreference">How do you want to be contacted?</label>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <select id="contactPreference" name="contactPreference" class="form-control" ng-model="input.contactPreference"
                                ng-options="p.value as p.label for p in preferences" ng-required="true">
                            <option value="" selected="selected">Choose...</option>
                        </select>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Please tell us how to contact you.</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="orca">ORCA Card Number</label>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="orca" name="orca" class="form-control" ng-model="input.orca"/>
                    </div>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label class="control-label required" for="date">Date of Ride</label>
                <p id="date-help">What day did this happen?</p>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="input-group">
                            <input type="text" id="date" class="form-control" name="date" ng-model="input.date" ng-required="true" uib-datepicker-popup="{{date.format}}" is-open="date.opened"
                                   max-date="date.maxDate" min-date="date.minDate" alt-input-formats="date.inputFormats" ng-change="selectDate()" aria-describedby="date-help"/>
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" aria-hidden="true" tabindex="-1" ng-click="date.open($event)" aria-label="calendar"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </div>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Date of Ride is required and must be within last 30 days. Accepted formats: Month/Day/Year or Month/Day </p>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label required" for="time" id="time-label">Time of Day</label>
                <p id="time-help">What time did this happen?</p>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="time" id="time" name="time" class="form-control" ng-model="input.time" ng-required="true" aria-describedby="time-help" time-input/>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Please select Time of Day.</p>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label required" for="serviceType">Service Type</label>

                <div class="row">
                    <div class="col-sm-3">
                        <select id="serviceType" name="serviceType" ng-model="input.serviceType" class="form-control" ng-change="selectType()" ng-options="p.value as p.label for p in serviceTypes"
                                ng-required="true">
                            <option value="">Choose...</option>
                        </select>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Service Type is required.</p>
            </div>
            <div class="form-group" ng-show="useRoute">
                <label class="control-label" for="route">Route Number</label>
                <p id="route-help">Please select the route number.</p>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <select id="route" name="route" class="form-control" ng-model="input.route" ng-options="p.value as p.label for p in routes | filter:{serviceType : input.serviceType}"
                                aria-describedby="route-help">
                            <option value="" selected="selected">Choose...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="bus">{{ useBus ? 'Bus' : 'Vehicle' }} Number</label>
                <p ng-show="useBus" id="bus-help">This is the 3- or 4-digit number on the outside of a bus in the outer corners or inside at the right front corner, opposite the driver, is the bus
                    number.</p>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <input type="text" id="bus" name="bus" class="form-control" ng-model="input.bus" aria-describedby="bus-help"/>
                    </div>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" ng-class="input.bus ? '' : 'required'" for="direction">Direction of Travel</label>
                <p id="direction-help">For example, toward or away from downtown Seattle, toward or away from the Eastside or Bellevue, north, south, east or westbound.</p>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="direction" name="direction" class="form-control" ng-model="input.direction" ng-required="!input.bus" aria-describedby="direction-help"/>
                        <p class="help-block validation" role="alert">Direction of Travel is required.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="stop">Stop ID (if known)</label>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group" style="width: 100%;">
                            <input type="text" id="stop" name="stop" class="form-control" ng-model="input.stop"
                                   uib-typeahead="stop.value as stop.label for stop in searchStops($viewValue)"
                                   typeahead-loading="loadingStops" typeahead-no-results="noStopsFound"
                                   typeahead-min-length="2" typeahead-on-select="onStopSelect($item, $model, $label)"/>
                            <span class="input-group-addon" ng-show="loadingStops"><i class="glyphicon glyphicon-refresh"></i></span>
                        </div>
                        <div ng-show="noStopsFound">No stops found</div>
                        <p class="help-block">This is the 3- to 5-digit number painted on the top, left-hand corner of the shelter.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label required" for="location">Location</label>
                <p id="location-help">Where did the incident happen? (intersection, landmark, nearest bus stop)</p>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="location" name="location" class="form-control" ng-model="input.location" aria-describedby="location-help" ng-required="true"/>
                        <p class="help-block validation" role="alert">Location is required.</p>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12" aria-disabled="true" ng-show="input.stopId">
                <map zoom="16" style="height:300px;"></map>
            </div>

            <div class="form-group" show-errors>
                <label class="control-label required" for="driver">Operator Description</label>
                <p id="driver-help">Include any other features that will help us identify the driver/vehicle operator (such as, glasses, mustache or beard).</p>
                <textarea name="driver" id="driver" class="form-control" ng-model="input.driver" rows="8" cols="75" ng-required="true" aria-describedby="driver-help"></textarea>
                <p class="help-block validation" role="alert">Please provide a description of the driver/operator.</p>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label required" for="comment">Your Comment</label>
                <p id="comment-help">
                    Please provide any information necessary for us to research your comment or concern.
                    Real humans read and respond to your questions and comments.
                    Abusive, racist or other hateful language is not acceptable.
                </p>
                <textarea id="comment" name="comment" class="form-control" rows="8" cols="75" ng-model="input.comment" ng-required="true" ng-maxlength="4000" aria-labelledby="comment-help"></textarea>
                <div ng-messages="form.comment.$error">
                    <p ng-message="required" class="help-block validation" role="alert">You need to type something here.</p>
                    <p ng-message="maxlength" class="help-block validation" role="alert">Maximum allowed length is 4000</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" id="upload-prompt">
                    Your Uploads:
                    <button type="button" class="btn btn-default" ngf-select="true" ngf-change="onFileSelect($files,$event)" aria-describedby="upload-prompt">Upload</button>
                </label>
                <ol class="list-group" ng-show="files.length > 0">
                    <li class="list-group-item" ng-repeat="f in files" role="alert">
                        <span class="text-success">
                            <i class="glyphicon glyphicon-refresh spinner" ng-show="f.uploading" aria-hidden="true"></i>
                            <i class="glyphicon glyphicon-ok" ng-show="!f.uploading" aria-hidden="true"></i>
                            <span class="hidden">File uploaded successfully</span>
                        </span> {{ f.name }}
                    </li>
                </ol>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-action">Submit</button>
                <button type="button" class="btn btn-lg btn-default pull-right" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
