<div class="panel panel-default">
    <div class="panel-body">
        <form name="form" novalidate="novalidate" ng-submit="submit()">
            <fieldset class="form-view">
                <legend>Case Information - {{case.CaseNumber}}</legend>
                <div class="form-group">
                    <label class="control-label">Opened: </label><span class="form-control-static-inline">{{case.Incident_Date__c | date : 'short'}}</span>
                </div>
                <div class="form-group" ng-if="case.IsClosed">
                    <label class="control-label">Closed:</label><span class="form-control-static-inline"> {{case.ClosedDate | date : 'short'}}</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Subject:</label><span class="form-control-static-inline">{{case.Subject}}</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <p class="form-control-static" ng-bind-html="case.Description | html"></p>
                </div>
            </fieldset>
            <fieldset ng-if="allowInput">
                <legend>Your Feedback</legend>
                <div class="form-group" show-errors>
                    <label class="control-label required">Your Email:</label>
                    <input type="email" class="form-control" name="email" ng-model="input.email" ng-required="true"/>
                    <p class="help-block validation">Email is required</p>
                </div>
                <div class="form-group" show-errors>
                    <label class="control-label required" for="comment">Comments</label>
                    <textarea name="comment" id="comment" rows="8" cols="75" class="form-control" ng-model="input.comment" required></textarea>
                    <p class="help-block validation">please complete your comments</p>
                </div>
                <div class="form-group">
                    <label class="control-label" id="upload-prompt">
                        Your Uploads:
                        <button type="button" class="btn btn-default" ngf-select="true" ngf-change="onFileSelect($files)" aria-describedby="upload-prompt">Upload</button>
                    </label>
                    <ol class="list-group" ng-show="files.length > 0">
                        <li class="list-group-item" ng-repeat="f in files" role="alert">
                            <div class="text-success" style="display: inline-block">
                                <i class="glyphicon glyphicon-refresh spinner" ng-show="f.uploading" aria-hidden="true"></i>
                                <i class="glyphicon glyphicon-ok" ng-show="!f.uploading" aria-hidden="true"></i>
                                <span class="hidden">File uploaded successfully</span>
                            </div>
                            {{f.name}}
                        </li>
                    </ol>
                </div>
            </fieldset>
            <div class="form-group voffset3" ng-if="allowInput">
                <button type="submit" class="btn btn-action">Submit</button>
                <button type="button" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>

