<div class="panel panel-default">
    <div class="panel-body">
        <h1>{{formTitle || 'Website Feedback'}}</h1>

        <div class="intro">
            <div ng-if="formHeader" ng-bind-html="formHeader"></div>
            <p ng-if="!formHeader">
                Use this form for questions, comments or suggestions about the Metro website. Your feedback is important to us.
                Please provide as much detail as possible so staff can research your concerns and ensure your feedback is handled appropriately.
            </p>
        </div>
        <div class="text-danger mb-20" aria-hidden="true">* Required Fields</div>

        <form name="form" novalidate="true" ng-submit="submit()">
            <div class="form-group" show-errors>
                <label class="control-label required" for="commentType">Type of comment</label>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <select id="commentType" name="commentType" class="form-control" ng-model="input.commentType"
                                ng-options="p.value as p.label for p in commentTypes" ng-required="true">
                            <option value="" selected="selected">Choose...</option>
                        </select>
                    </div>
                </div>
                <p class="help-block validation" role="alert">The type of comment is required.</p>
            </div>
            <div class="form-group" show-errors="true">
                <label class="control-label required" for="name">Your Name</label>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="name" name="name" class="form-control" ng-model="input.name" ng-required="true"/>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Your name is required.</p>
            </div>
            <div class="form-group" show-errors="true">
                <label class="control-label required" for="email">Email</label>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="email" id="email" name="email" class="form-control" ng-model="input.email" placeholder="name@domain.com"
                               ng-required="true"/>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Your email is required.</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">Phone Number</label>

                <p id="phone-help">Please include the area code.</p>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="phone" id="phone" name="phone" class="form-control" ng-model="input.phone" aria-describedby="phone-help"/>
                    </div>
                </div>
            </div>
            <div class="form-group" show-errors="true">
                <label class="control-label required" for="contactPreference">How do you want to be contacted?</label>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <select id="contactPreference" name="contactPreference" class="form-control" ng-model="input.contactPreference"
                                ng-options="p.value as p.label for p in preferences" ng-required="true">
                            <option value="" selected="selected">Choose...</option>
                        </select>
                    </div>
                </div>
                <p class="help-block validation" role="alert">Please tell us how to contact you.</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="url">Web Address (if commenting about a certain page)</label>
                <input type="text" name="url" id="url" ng-model="input.url" class="form-control"/>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label required" for="comment">Your Comment</label>
                <p id="comment-help">
                    Please provide any information necessary for us to research your comment or concern.
                    Real humans read and respond to your questions and comments.
                    Abusive, racist or other hateful language is not acceptable.
                </p>
                <textarea id="comment" name="comment" class="form-control" rows="8" cols="75" ng-model="input.comment" ng-required="true" ng-maxlength="4000" aria-labelledby="comment-help"></textarea>
                <div ng-messages="form.comment.$error">
                    <p ng-message="required" class="help-block validation" role="alert">You need to type something here.</p>
                    <p ng-message="maxlength" class="help-block validation" role="alert">Maximum allowed length is 4000</p>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label" id="upload-prompt">
                    Your Uploads: <button type="button" class="btn btn-default" ngf-select="true" ngf-change="onFileSelect($files,$event)" aria-describedby="upload-prompt">Upload</button>
                </label>
                <ol class="list-group" ng-show="files.length > 0">
                    <li class="list-group-item" ng-repeat="f in files" role="alert"><span class="text-success">
                      <i class="glyphicon glyphicon-refresh spinner" ng-show="f.uploading" aria-hidden="true"></i>
                      <i class="glyphicon glyphicon-ok" ng-show="!f.uploading" aria-hidden="true"></i>
                      <span class="hidden">File uploaded successfully</span>
                      </span> {{f.name}}
                    </li>
                </ol>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-action">Submit</button>
                <button type="button" class="btn btn-lg btn-default pull-right" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
